@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #000;
  color-scheme: dark;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #8f8f8f, #e6e6e6);
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #737373, #bfc1c2);
}


